<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <div>
<h1>The Todo List</h1>
<ul>
<% for(var i=0;i<arr.length;i++) {%>
<form action="/delete" method="post">
    <li id="mycol">
    <input type="checkbox" name="checkbox" value="<%=arr[i]._id%>" onChange="this.form.submit()">
       
        <%= arr[i].name %></li>
   <% } %>
</form>

</ul>
   <form action="/" method="post">
       <input type="text" name="newlis" id="" required>
       <input type="submit"  value="submit" >
   </form>
</div>
</body>
</html>